a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#form {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card {
  transition: box-shadow 0.5s;
  border-radius: 10px;
  margin: 20px;
  border: 2px solid #ccc;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
  #form {
    margin-top: 0;
    position: absolute;
    top: 55%;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
}
